<ul>
<% @members.each do |member| %>
<li><%= link_to member.name, member %>
<%= link_to "Edit", edit_member_path(member)%>
<%= link_to "Delete", member_path(member) %></li>
<% end %>
<ul>
<%= link_to "Sign-up", new_member_path%>